<!DOCTYPE html>
<html>
<head lang="fr">
    {% load static %}
    <meta charset="utf-8">
    <title>{% block title %}NoteLab{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{%static 'NoteLab/styles.css'%}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
    <script>
    $( function() {
        $( "#id_date" ).datepicker();
    } );
    </script>
</head>
<body>
    <div id="root">
        <header>
            <nav class="menu">
                <h1><a href="/notelab/index" id="title">NoteLab</a></h1>
                <a href="/notelab/index" class="menu_buttons">Gestion</a>
                <a href="/notelab/listeetudiant" class="menu_buttons">Liste des étudiants</a>
                <a href="/notelab/listeprofexam" class="menu_buttons">Lister les professeurs et leurs éxamens</a>
                <a href="/notelab/listeressourceue" class="menu_buttons">Lister les UE et ressources</a>
            </nav>
        </header>
        <section>
            {% block content %}
            <nav class="sub_menu">
                <a href="/notelab/ajoutetudiant/" class="sub_menu_buttons">+ Ajouter un étudiant</a>
                <a href="/notelab/ajoutue/" class="sub_menu_buttons">+ Ajouter une UE</a>
                <a href="/notelab/ajoutressource" class="sub_menu_buttons">+ Ajouter une ressource</a>
                <a href="/notelab/ajoutprof" class="sub_menu_buttons">+ Ajouter un professeur</a>
                <a href="/notelab/ajoutexamen" class="sub_menu_buttons">+ Ajouter un éxamen</a>
                <a href="/notelab/ajoutnote" class="sub_menu_buttons">+ Ajouter une note</a>
                <p>Disclaimer : Nous n'avons pas réussi à tout remettre au propre faute de temp (minuit passée) certaines fonctionnalités ne sont pas achevées.</p>
            </nav>
            {% endblock %}
        </section>
    </div>
    </body>
</html>

