<!DOCTYPE html>
<html>
<head lang="fr">
    {% load static %}
    <meta charset="utf-8">
    <title>{% block title %}NoteLab | Gestion{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{%static 'NoteLab/styles.css'%}">
</head>
<body>
    <div id="root">
        <header>
            <nav class="menu">
                <h1>NoteLab</h1>
                <a href="#" class="menu_buttons">Gestion</a>
                <a href="#" class="menu_buttons">Liste des notes</a>
                <a href="/noteLab/listeprofexam" class="menu_buttons">Lister les professeurs et leurs éxamens</a>
                <a href="/noteLab/listeressourceue" class="menu_buttons">Lister les UE et ressources</a>
            </nav>
        </header>
        <section>
            {% block content %}
            <nav class="sub_menu">
                <a href="#" class="sub_menu_buttons">+ Ajouter/modifier un étudiant</a>
                <a href="/noteLab/ajoutue/" class="sub_menu_buttons">+ Ajouter/modifier une UE</a>
                <a href="#" class="sub_menu_buttons">+ Ajouter/modifier une ressource</a>
                <a href="/noteLab/ajoutprof" class="sub_menu_buttons">+ Ajouter/modifier un professeur</a>
                <a href="#" class="sub_menu_buttons">+ Ajouter/modifier un éxamen</a>
                <a href="#" class="sub_menu_buttons">+ Ajouter/modifier une note</a>
            </nav>
            {% endblock %}
        </section>
    </div>
    </body>
</html>

