{% extends "NoteLab/index.html" %}

{% block title %}Notelab | UE & Ressources{% endblock %}

{% block content %}

<div class="title">
    <h4>UE et Ressources</h4>
</div>

<section class="sectionRessource">
    <div class="divRessource">
        {% for i in liste %}
            </li>{{i}} <a href="/notelab/deleteue/{{i.idue}}/" class="linkRessource">Supprimer</a> <a href="/notelab/updateue/{{i.idue}}/" class="linkRessource">Editer</a></li>
            {% for j in listeres %}
                {% if j.ue_idue.idue == i.idue%}
                    <li>- {{j.nom}} <a href="/notelab/deleteressource/{{j.idressource}}/" class="linkRessource">Supprimer</a> <a href="/notelab/updateressource/{{j.idressource}}/" class="linkRessource">Editer</a></li>
                {% endif %}
            {% endfor %}
            <br>
        {% endfor %}
    </div>
</section>

{% endblock %}