{% extends "NoteLab/index.html" %}

{% block title %}Notelab | Notes & Etudiants{% endblock %}

{% block content %}

<div class="title">
    <h4>Etudiants et Notes</h4>
</div>

{% for e in listeetu %}
    <section class="containerNote">
        <a href="/notelab/deleteetudiant/{{e.idetudiant}}" class="studentDelete">[❌]</a>
        <a href="/notelab/generatePDF/{{e.idetudiant}}" class="studentDelete">[📝]</a>
        <a class="studentName" href="/notelab/updateetudiant/{{e.idetudiant}}">{{e.nom}} {{e.prenom}}</a>
        {% for j in listenotes %}
        {% if j.etudiant_idetudiant.idetudiant == e.idetudiant %}
            <a class="studentNote" href="/notelab/updatenote/{{j.idnote}}/">{{j.note}}/20</a>
        {% endif %}
    {% endfor %}
    </section>
{% endfor %}


{% endblock %}

