{% extends "NoteLab/index.html" %}

{% block title %}Notelab | Professeurs & Examens{% endblock %}

{% block content %}

<div class="title">
    <h4>Professeurs et Examens</h4>
</div>

<section class="sectionRessource">
    <div class="divRessource">
        {% for e in listeprof %}
            <li>{{e.nom}} {{e.prenom}}<a href="/notelab/deleteprof/{{e.idprofesseur}}/" class="linkRessource">Supprimer</a> <a href="/notelab/updateprof/{{e.idprofesseur}}/" class="linkRessource">Editer</a></li>
            {% for j in listeexa %}
                {% if j.professeur_idprofesseur.idprofesseur == e.idprofesseur%}
                    <li>- Examen {{j.titre}} réalisé le {{j.date}} <a href="/notelab/deleteexamen/{{j.idexamen}}/" class="linkRessource">Supprimer</a> <a href="/notelab/updateexamen/{{j.idexamen}}/" class="linkRessource">Editer</a></li>
                {% endif %}
            {% endfor %}
            <br>
        {% endfor %}
    </div>
</section>

{% endblock %}