{% extends "NoteLab/index.html" %}

{% block title %}Add Student{% endblock %}

{% block content %}

<h2>Liste des Unités d'Enseignement :</h2>
{% for l in liste %}
<li> {{l}} <a href="/notelab/deleteue/{{l.idue}}/">(Delete)</a> <a href="/notelab/updateue/{{l.idue}}/">(Edit)</a></li>
{% endfor %}

<h3>Liste des Unités d'Enseignement :</h3>
{% for r in listeres %}
<li> {{r.nom}} <a href="/notelab/deleteressource/{{r.idressource}}/">(Delete)</a> <a href="/notelab/updateressource/{{r.idressource}}/">(Edit)</a></li>
{% endfor %}

<a href="/notelab/index/">(Accueil)</a>

{% endblock %}